@import "tailwindcss";

.pointer-corsur:hover {
    cursor: pointer;
}

.menu {
    width: 300px;
    height: 100vh;
    background-color: rgb(68, 68, 68);
    transition: all 0.5s ease-in-out;
    position: absolute;
    z-index: 100;
    left: -300px;
    text-align: center;

}


.text-center {
    text-align: center;
    margin: auto;
}

.bg {
    z-index: -100;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.menu-item a {
    text-decoration: none;
    color: white;
    background-color: #000;
    padding: 2rem;
}
.menu-item:hover {
    color: white;
    background-color: #000;
    padding: 2rem;
}
h1{
    font-weight: 900 !important;
    font-size: 40px !important;
}
.alert {
    border: 1px solid black;
    width: 20%;
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
    transition: all 0.5s ease-in-out;
    transform: translateY(-350px);
    opacity: 0;
}

.alert-danger {
    border: 1px solid rgb(255, 56, 56) !important;
    width: 20%;
    padding: 1rem;
    color: white !important;
    border-radius: 10px !important;
    background-color: rgb(101, 0, 0) !important;
    transition: all 0.5s ease-in-out;
}